<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (cart.products.length > 0) { %>
                <ul>
                    <% cart.products.forEach(p => { %>
                        <li>
                            <p><%= p.name %> (<%= p.qty %>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.id %>" name="productId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <h2> Total Amount : <%= cart.totalPrice %> &#8377; </h2>
                
                <% } else { %>
                    <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>